@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');


.banner-background {
  background-image: url('../public/images/banner.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}




body{
  font-family: 'Inter',sans-serif;
}
.active{
  @apply text-violet-200 underline underline-offset-4
}


